.header {
  padding: 16px 0;
  background-color: #fffaf2;

  &__container {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__link {
    margin: 0 6px;
  }
}