.login {
  &__title {
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__errors {
    margin-bottom: 12px;

    &__error {
      color: red;
    }
  }

  &__input {
    margin-bottom: 12px;
    flex-basis: 100%;
  }

  &__button {
    margin-left: auto;
    flex-shrink: 0;
  }
}